.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-reviews, .favorite-movies, .recommendations {
    margin: 20px 0;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.header, .header b, .header form, .header label {
    background-color: #293443;
    color: #c9d5e1;
    display: flex;
    margin-bottom: 0px;
    

}